body {
    background-color: #333;
    color: #ddd;
    font-family: Arial, sans-serif;
    overflow: hidden;
    font-size: 14px;
}


.title {
    color: #ddd;
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
}
.node circle {
    fill: #1f77b4;
    stroke: #999;
    stroke-width: 2px;
}
/* for when user selects their courses */
.node.selected circle { 
    fill: rgb(79, 226, 79); 
}
.node text { 
    font-size: 12px;
    fill: #ddd;
    pointer-events: none; /* Disable mouse events on text */
}
.link {
    fill: none;
    stroke: #666;
    stroke-width: 1.5px;
}

.link.highlighted {
    stroke: #1eff00;
    stroke-width: 2px;
}

.fixed-component {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #444;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-height: 20px; /* Initial height */
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}
.fixed-component.expanded {
    max-height: 90vh; /* Expanded height */
    overflow-y: auto;
}
.fixed-component h2 {
    margin-top: 0;
    color: #fff;
}
.fixed-component label {
    display: block;
    margin-bottom: 10px;
}
.fixed-component input[type="checkbox"] {
    margin-right: 10px;
}

.fixed-component#electiveSelector {
    left: 10px;
    right: auto;
    color: #888; /* Disabled color */
}
.fixed-component#electiveSelector .enabled {
    color: #fff; /* Enabled color */
}
.fixed-component#electiveSelector .disabled {
    color: #888; /* Disabled color */
}
.fixed-component#electiveSelector .disabled input[type="checkbox"] {
    pointer-events: none; /* Disable interaction */
}

.arrowhead{
    fill:#666
}